/*Стили для всего body*/
html,body{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: "Gill Sans Nova", Calibri, "Trebuchet MS", sans-serif;
}
.body{
    background: -webkit-linear-gradient(90deg, #0f1116,#1a1b22);
    background: linear-gradient(90deg, #0f1116,#1a1b22);


}
/*Стили для header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: whitesmoke solid 2px;
    background: -webkit-linear-gradient(90deg, #090f30,#000000,#190631);
    background: linear-gradient(90deg, #090f30,#000000,#190631);
}
.header img{
    width: 80px;
    height: 80px;
    margin-top: 0px;
    margin-left: 20px;
    transition: transform 0.3s ease;
}
.header img:hover{
    transform: scale(130%);
}

.headerP{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-end;
    padding-top: 5px;
    padding-right: 15px;
    height: 100%;
    font-weight: bold;
    font-size: 17px;

}
.headerP2{
    margin-top: -2px;
}
/*Стили для NAVBAR */
.navbar {
    border: whitesmoke solid 2px;
    border-top: none;
    border-right: none;
    display: flex;
    justify-content: left;
    width: 100%;
    background: -webkit-linear-gradient(90deg, #0f1116, #1a1b22);
    background: linear-gradient(90deg, #0f1116, #1a1b22);
}

.navbarol {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 2%;
    padding: 0;
}

.link {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 17px;
    transition: color 0.4s, background-color 0.4s, padding 0.4s;
    padding: 5px 10px;
    border-radius: 4px;
}

.link:hover {
    cursor: pointer;
    color: deepskyblue;
    background-color: whitesmoke;
}














/*Стили для aside (main.html)*/
.aside{
    display: flex;
    border: whitesmoke solid 3px;
    border-top: none;
    border-bottom: none;
    border-radius: 5px;
    padding-right: 12px;
    margin-top: 0px;
    background: -webkit-linear-gradient(90deg, #0f1116,#1a1b22);
    background: linear-gradient(90deg, #0f1116,#1a1b22);
}
.aside-elements div{
    display: flex;
    flex-flow: column;
    column-gap: -20px;
    margin-left: 10px;
}
.aside-elements p{
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
    flex-direction: row;
    color: whitesmoke;
    font-weight: bold;
    font-size: 16px;

}
.link2{
    transition: transform 0.5s ease;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
}
.link2:hover{
    cursor: pointer;
    color: deepskyblue;
}
.link2:active{
    transform: scale(0.95);
}

/*Стили main (main.html)*/
.main{
    border: whitesmoke solid 0px;
}
.main div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main img{
    margin-right: 4%;
    transition: transform 0.4s ease;
}
.main img:hover {
    border: whitesmoke solid 1px;
    border-radius: 5%;
    transform: scale(1.2);
}
.main p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-top: 0%;
    color: whitesmoke;
    font-weight: lighter;
    font-size: 19px;
}
h1{
    margin-left: 2%;
    margin-top: 2%;
    color: whitesmoke;
}
h2{
    font-size: 25px;
    margin-left: 2%;
    color: whitesmoke;
}
h3{
    font-size: 19px;
}
video{
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 2px skyblue solid;
    border-radius: 8px;
}


/*Стили для main (service.html)*/
#main{
    background: -webkit-linear-gradient(90deg, #0f1116,#1a1b22);
    background: linear-gradient(90deg, #0f1116,#1a1b22);

}
.page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-top: 0%;
    color: whitesmoke;
    font-weight: lighter;
    font-size: 19px;

}
.item p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 23px;
}
.grid-container{
    margin-left: 0.95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 20px;
    padding: 23px;
}
.item{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #0f1116;
    border: 2px solid whitesmoke;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.6s ease;
}
.item:hover{
    transform: scale(108%);
}

.button{

    white-space: nowrap;
    background-color: #f7fbfc;
    color: black;
    width: 20%;
    height: 30px;
    border: #17b978 solid 1px;
    font-size: 16px;
    margin-top: -2%;
    transition: background-color 0.4s ease;
    cursor: pointer;
    position: relative;
    border-radius: 7px;
    min-width: 80px;
    min-height: 35px;
}
.button:hover{
    background-color: #17b978;
}
.button:active{
    transform: scale(0.95);
}
.button:focus {
    outline: none;
    box-shadow: 0 0 0 1px #17b978;
}

/*Стили для main (workspace.html)*/
main{
    margin-left: 2%;
    color: whitesmoke;
}
table{
    border-collapse: collapse;

}
th{
    font-size: 17px;
    border: 2px solid deepskyblue;
}
td{
    font-size: 16px;
    border: 1px solid whitesmoke;
}
.workspace h2{
    margin-top: 3%;
    margin-left: 0%;
}
iframe{
    margin-left: -2%;
    border: deepskyblue solid 2px;
    width: 1310px;
    height: 500px;
}
#pdffile{
    border: deepskyblue solid 2px;
    width: 700px;
    height: 450px;
}


/*Стили для Футера*/

.footer {
    background-color: #0c101c;
    display: flex;
    justify-content: flex-end;
    border-top: whitesmoke solid 3px;
}
.footer p {
    text-align: center;
    flex-basis: 100%;
    color: whitesmoke;
    font-weight: bold;
    font-size: 13px;
}
.footer img{
    transition: 0.5s ease;
}
.footer img:hover{
    border: 1px solid whitesmoke;
    border-radius: 150%;
}
.footer img:active{
    transform: scale(0.85);
}






/* Стили для модального окна */

.submit{
    display: none;
}


.modal {
    display: none;
    position: fixed; /* Окончательное позиционирование */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Ширина 100% */
    height: 100%; /* Высота 100% */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.85);
}
.modal-content {
    background: -webkit-linear-gradient(90deg, #0f1116,#1a1b22);
    background: linear-gradient(90deg, #0f1116,#1a1b22);
    margin: auto;
    margin-top: 12%;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #888;
    width: 100%; /* Более гибкий размер для больших экранов */
    height: 300px;
    max-width: 500px; /* Ограничение ширины */
    max-height: 90vh;
    /*overflow-y: auto; /* Прокрутка содержимого внутри модалки, если контент выходит за границы */
    color: whitesmoke;
    text-align: center;
}
.close {
    position: absolute;
    top: 26.5%;
    right: 33%;
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}
.modal_h2{
    white-space: none;
    text-align: center;
    margin-top: -5%;
    color: whitesmoke;
}
.input, .input2{
    display: flex;
    gap: 20%;
    flex-direction: column;
    margin-left: 35%;
    margin-top: -3.5%;
}
.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20%;

}
label{
    display: block;
    text-align: left;
    align-content: center;

}
.checkbox{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 5%;
}

/*Стили для адаптивности*/
@media (max-width: 800px) and (min-width: 320px) {
    /*header*/
    .header img{
        width: 70px;
        height: 70px;
    }
    .headerP{
        font-size: 15px;
    }
    /*навбар*/
    .navbar{
        position: sticky;
        top: 0;
    }
    .navbarol{
        white-space: nowrap;
        margin-left: 0%;
        padding-left: 0;
        column-gap: 2px;
    }
    .navbarol a{
        font-size: 15px;
    }

    /*боковая*/
    .aside{
        display: none;
    }

    /*main*/
    img{
        pointer-events: none;
        max-width: 100%;
    }
    .main img{
        width: 170px;
        height: 180px;

    }
    video{
        margin-left: 5%;
        width: 70%;
        border: none;
    }

    /*main (service.html)*/
    .grid-container{
        display: flex;
        flex-direction: column;
    }
    #main h1{
        margin-top: 4%;
    }
    .button{
        transform: none;
        font-size: 14px;
        padding: 8px 16px;
        width: auto;
    }
    #contact{
        width: 100%;
    }
    /*main (workspace.html)*/
    .workspace h2{
        margin-top: 6%;
    }
    table{
        width: 460px;
    }
    iframe{
        width: 465px;
        height: 430px;
    }
    #pdffile{
        height: 320px;
        width: 465px;
    }
    /*Модальное окно )) */





}
